#cloud-config
hostname: ${hostname}
manage_etc_hosts: true

users:
  - default

  - name: debian
    gecos: Ansible
    groups:
      - sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    ssh_authorized_keys:
      - ${ssh_key}

chpasswd:
  list: |
    debian:......
  expire: false

ssh_pwauth: false

package_update: true
packages:
  - qemu-guest-agent
runcmd:
  - systemctl enable --now qemu-guest-agent
